{% extends 'myapp/base.html' %}

{% block block_body %}
<div class="container mt-4">

    <h2 class="text-center mb-4">Employee Detail</h2>

    <table class="table table-bordered table-striped w-50 mx-auto">
        <tr>
            <th>ID</th>
            <td>{{ object.pk }}</td>
        </tr>
        <tr>
            <th>EID</th>
            <td>{{ object.EmpID }}</td>
        </tr>
        <tr>
            <th>ENAME</th>
            <td>{{ object.EmpName }}</td>
        </tr>
        <tr>
            <th>ESAL</th>
            <td>{{ object.EmpSal }}</td>
        </tr>
    </table>

    <div class="text-center mt-3">
        <a href="{% url 'employee_update' object.pk %}" class="btn btn-primary">Update</a>
        <a href="{% url 'employee_delete' object.pk %}" class="btn btn-success">Delete</a>
        <a href="{% url 'employees_list' %}" class="btn btn-danger">Back</a>
    </div>

</div>
{% endblock %}
