{% extends 'myapp/base.html'%}
{%block block_body%}
<h1 class="text-center">DELETE</h1>
<div class="container justify-content-center">
    <div class="card shadow w-50 align-text-center">
    <div class="card-body align-items-center">
<form method="POST" >
    {% csrf_token%}
<h4>ID :{{employee.pk}}</h4>
<h4>EMPID :{{employee.EmpId}}</h4>
<h4>EMPNAME :{{employee.EmpName}}</h4>
<h4>EMPSAL :{{employee.EmpSal}}</h4>
<button type="submit" class="btn btn-danger">DELETE</button>
<a href="{% url 'employees_list'%}" class="btn btn-primary">CANCEL</a>
</form>
</div>
    </div>
</div>
{% endblock %}